$primary-color: #d7fa00;

@mixin flex(
  $flexDirection: row,
  $alignItems: start,
  $justifyContent: start,
  $gap: 0
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  gap: $gap;
}

@mixin font($fontSize: 14px, $fontWeight: 500, $color: white) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

.header-container {
  @include flex(row, center, space-between, 0px);
  padding: 10px 20px;
  background-color: black;
}

.header-container ul {
  @include flex(row, center, center, 20px);
}

ul li {
  @include font(13px, 400);
  list-style: none;
}

section {
  @include flex($gap: 20px);
  flex-wrap: wrap;
  padding: 20px 40px;
}

.content-container {
  @include flex($flexDirection: column, $alignItems: flex-start, $gap: 5px);
  img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 3px;
  }
  span {
    @include font($fontSize: 12px, $color: $primary-color);
    border: 1px solid $primary-color;
    padding: 4px 5px;
    border-radius: 3px;
  }
  div {
    @include font(18px, 600);
  }
  p {
    @include font(12px, $color: rgb(160, 160, 160));
  }
}
